@model Entity.Yazi

@{
    ViewBag.Title = "IcerikEkle";
}
<style>
    .as {
        max-width: none;
    }
    .t{
        max-width:none;
        width:600px;

    }
</style>
<h2>IcerikEkle</h2>

@using (Html.BeginForm("IcerikEkle", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*<div >
            @Html.Label("Kategoriler", new { @class = "col-md-4 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", new SelectList((IEnumerable)ViewData["Kategoriler"],"TurID", "TurAdi"), new { @class = "form-control" })
            </div>
        </div>*@
        <div>
            <p>Yazı Başlığı</p>
            @Html.TextBoxFor(x => x.YaziBasligi, new { @class = "t", placeholder = "Yazı başlığını giriniz", cols = 100 })
        </div>
        <br />
        <div>
            <h3>Yazı İçeriği Düzenleme Ekranı</h3>
            @Html.TextAreaFor(x => x.YaziIcerigi, new { @class = "as", cols = 150, row = 15 })
        </div>
        <br />
        <div>
            <p>Yazı Etiketi-1:</p>
            @Html.TextBoxFor(x => x.Etiket1, new { @class = "etiket", placeholder = "Yazı içeriğine göre etiket oluşturabilirsiniz.", cols = 100 })
        </div>
        <br />
        <div>
            <p>Yazı Etiketi-2:</p>
            @Html.TextBoxFor(x => x.Etiket2, new { @class = "etiket", placeholder = "Yazı içeriğine göre etiket oluşturabilirsiniz.", cols = 100 })
        </div>
        <br />
        <div>
            <p>Yazı Etiketi-3:</p>
            @Html.TextBoxFor(x => x.Etiket3, new { @class = "etiket", placeholder = "Yazı içeriğine göre etiket oluşturabilirsiniz.", cols = 100 })
        </div>
        <br />
        <div>
            <p>Seo Title</p>
            @Html.TextBoxFor(x => x.SeoTitle, new { @class = "t", placeholder = "Seo Title 57 karakterden fazla girmeyiniz", cols = 100 })
        </div>
        <br />
        <div>
            <p>Seo Description</p>
            @Html.TextBoxFor(x => x.SeoDesc, new { @class = "t", placeholder = "Seo Description 160 karakterden fazla girmeyiniz" })
        </div>
        <br />
        <div>
            <p>Seo Keywords</p>
            @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "as", cols = 100, row = 2, placeholder = "Seo Anahtar Kelimeleri girerken aralara virgül koymalısınız. Örnek=araba, araba satışı"})
        </div>
        <br />
        <input type="submit" />

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript"></script>
    <script>
        var editor = CKEDITOR.instances['YaziIcerigi']
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('YaziIcerigi', {
            enterMode: CKEDITOR.ENTER_BR,
        });
        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
    </script>
}
