@model Entity.Yazi

@{
    ViewBag.Title = "IcerikEkle";
}
<style>
    .as {
        max-width: none;
    }
</style>
<h2>IcerikEkle</h2>

@using (Html.BeginForm("IcerikEkle","Home",FormMethod.Post,new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Yazi</h4>
        <hr />

        
            @Html.TextAreaFor(x => x.YaziIcerigi, 10, 150, new { })
            @Html.TextBoxFor(x=>x.SeoTitle)
            @Html.TextBoxFor(x => x.SeoDesc)
            @Html.TextBoxFor(x => x.SeoKeywords)

        
        <input type="submit" />

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript"></script>
    <script>
        var editor = CKEDITOR.instances['YaziIcerigi']
        if (editor) { editor.destroy(true); }
        CKEDITOR.replace('YaziIcerigi', {
            enterMode: CKEDITOR.ENTER_BR,
        });
        CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
    </script>
}
