<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="@ViewBag.SeoTitle" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <title>@ViewBag.Title</title>
    <style>
        .illustration {
            width: 100%;
        }
    </style>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/Scripts/ckeditor-responsive-images.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color:#002933">
        <div class="container-fluid">
            <a href="/Home/Index/" class="navbar-brand">Ö.Serdar ŞERİFOĞLU - BLOG</a>
            <div class="collapse navbar-collapse acKapa">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Index/" class="a"><span class="glyphicon glyphicon-home "></span>&nbsp Anasayfa</a></li>
                    <li><a href="/Yazi/BenKimim/" class="a"><span class="glyphicon glyphicon-home "></span>&nbsp Ben Kimim</a></li>
                    <li><a href="/Yazi/EnCokOkunanYazilar/" class="a"><span class="glyphicon glyphicon-home "></span>&nbsp En Çok Okunanlar</a></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-arrow-down"></span> &nbsp Yönetim Paneli </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Kategori/Create/" class="b">Kategori Ekle</a></li>
                        <li><a href="/Kategori/" class="b">Kategoriler</a></li>
                        <li><a href="/Yazi/YaziEkle/" class="b">Yazı Ekle</a></li>
                        <li><a href="/Yazi/" class="b">Yazılar</a></li>
                    </ul>
                </li>
}

                    @if (Request.IsAuthenticated)
    {
                <li><a href="/Yazi/Yorumlarim/" class="a"><span class="glyphicon glyphicon-file"></span>&nbsp  Yorumlarım</a></li>
}


                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>

        </div>
        <!-- /.container -->
    </nav>
    @*@Html.Partial("_LoginPartial")*@


    <div class="container col-md-12">

        @RenderBody()
    </div>

    <div class="container col-md-12">
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Sitenin tüm hakları saklıdır.</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>





