@model IEnumerable<Entity.Kategori>

@{
    ViewBag.Title = "Index";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Kategori Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KategoriIcerik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriIcerik)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KategoriId }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Kategoriye Git", "Details", new { id=item.KategoriId }, new { @class = "btn btn-default btn-xs" }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KategoriId }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
