@using Entity
@model IEnumerable<Yazi>

@{
    ViewBag.Title = "EnCokOkunanYazilar";
}

<h2>En Çok Okunan Yazılar</h2>

@foreach (Yazi item in Model)
{
    <br /><br />
    <div class="container col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#e0f5fc">
                <div class="container row">
                    <div class="col-md-6">
                        <h4><a href="/Yazi/Detay/@item.YaziId">@item.YaziBasligi</a></h4>
                    </div>
                    <div class="pull-right">
                        <h4><small>@item.EklenmeTarihi.ToShortDateString()</small> &nbsp - &nbsp<span class="glyphicon glyphicon-eye-open"></span> <small>@item.OkunmaSayisi</small>   &nbsp &nbsp   <span class="glyphicon glyphicon-comment"></span>  <small>@item.YaziYorumlari.Count()</small></h4>
                    </div>
                </div>
            </div>


            <div class="panel-body">
                @Html.Raw(item.YaziIcerigi)

            </div>
        </div>
    </div>
}

