@model IEnumerable<Entity.Yazi>

@{
    ViewBag.Title = "Index";
}
<style>
    .buttonlar{
        width:300px;
        max-width:300px;
    }
</style>
<h2>Yazılar</h2>

<p>
    @Html.ActionLink("Yeni Yazı Ekle", "YaziEkle","Yazi", new { @class = "btn btn-success btn-sm" })
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.KullaniciId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.KategoriId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YaziBasligi)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.YaziIcerigi)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Etiket1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etiket2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etiket3)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.BegenilmeSayisi)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoKeywords)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.KullaniciId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.KategoriId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YaziBasligi)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.YaziIcerigi)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Etiket1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etiket2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etiket3)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EklenmeTarihi)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.BegenilmeSayisi)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.SeoTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoKeywords)
        </td>
        <td class="buttonlar">
            
            @Html.ActionLink("Düzenle", "Edit", new { id=item.YaziId },new { @class="btn btn-primary btn-xs" }) 
            @Html.ActionLink("Yazıya Git", "Detay", new { id=item.YaziId }, new { @class = "btn btn-default btn-xs" }) 
            @Html.ActionLink("Sil", "Delete", new { id=item.YaziId }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
